<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <header>
      <%- include('./partials/header.ejs'); %>
    </header>

    <div class="container mt-5" style="padding-top: 20px;">
        <h1 class="display-4 text-center mb-3">About Us</h1>
        <p class="lead text-center mb-5">Football, also known as soccer, is a sport played by two teams of eleven players on a rectangular field. The objective of the game is to score more goals than the opposing team by kicking a round ball into the opposing team's net. </p>
        <div class="row">
          <div class="col-md-6 mb-3">
            <h3>UEFA Champions League</h3>
            <p>The UEFA Champions League is an annual club football competition organized by the Union of European Football Associations (UEFA). It features the top teams from domestic leagues across Europe, who compete to be crowned the best club team in the continent.</p>
          </div>
          <div class="col-md-6 mb-3">
            <h3>Copa America</h3>
            <p>The Copa América is the oldest international soccer tournament in the world. It is held every four years and features national teams from South America. It is organized by the South American Football Confederation (CONMEBOL)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <h3>Euros</h3>
            <p>The UEFA European Championship, commonly known as the Euros, is an international soccer tournament held every four years. It features national teams from Europe and is organized by the Union of European Football Associations (UEFA)</p>
          </div>
          <div class="col-md-6 mb-3">
            <h3>Copa Libertadores de América</h3>
            <p>The Copa Libertadores de América is an annual international club football competition organized by the South American Football Confederation (CONMEBOL). It features the top club teams from South America and is considered one of the most prestigious tournaments in the region.</p>
          </div>
        </div>
      </div>
	</body>
	</html>