<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :root {
        --primary-color: #4285F4;
        --secondary-color: #0F9D58;
        --tertiary-color: #DB4437;
        --quaternary-color: #F4B400;
      }

      h1 {
        color: var(--primary-color);
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
      }

      .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
      }

      .navbar {
        background-color: #F0E6E6;  
        color: #eb8f05;  
      }

      .navbar-nav .nav-link {
        color: #10011b;  
      }

      .navbar-nav .nav-link:hover {
        color: #f7ab08;  
      }

      .navbar-toggler {
        background-color: #F0E6E6;  
        border-color: #6C757D;  
      }

      .navbar .navbar-brand {
        font-size: 1.5em;
        font-weight: 700;
      }
    </style>
  </head>
  <body>

    <!--
    <div style="display: flex; align-items: center; justify-content: center; height: 100vh;
      background-image: url('https://source.unsplash.com/random/1400x600/?football');"> 
        <h1>Welcome Home <%= user %></h1>
    </div> --> 

    <div class="container mt-5">
        <h1 class="display-4 text-center mb-3">About Us</h1>
        <p class="lead text-center mb-5">Football, also known as soccer, is a sport played by two teams of eleven players on a rectangular field. The objective of the game is to score more goals than the opposing team by kicking a round ball into the opposing team's net. </p>
        <div class="row">
          <div class="col-md-6 mb-3">
            <h3>UEFA Champions League</h3>
            <p>The UEFA Champions League is an annual club football competition organized by the Union of European Football Associations (UEFA). It features the top teams from domestic leagues across Europe, who compete to be crowned the best club team in the continent.</p>
          </div>
          <div class="col-md-6 mb-3">
            <h3>Copa America</h3>
            <p>The Copa América is the oldest international soccer tournament in the world. It is held every four years and features national teams from South America. It is organized by the South American Football Confederation (CONMEBOL)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <h3>Our Values</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere tellus ac purus viverra, at venenatis lacus tincidunt. Maecenas malesuada sollicitudin lectus, euismod suscipit diam fermentum a.</p>
          </div>
          <div class="col-md-6 mb-3">
            <h3>Our Team</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere tellus ac purus viverra, at venenatis lacus tincidunt. Maecenas malesuada sollicitudin lectus, euismod suscipit diam fermentum a.</p>
          </div>
        </div>
      </div>
      

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.0/dist/umd/popper.min.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- Add a nav bar -->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">Football</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="about()">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li>
            <a class="nav-link" href="#" onclick="logout()">Logout</a>
          </li>
		</ul>
      </div>
    </nav> 
    <script>
      function logout() {
        // Send a GET request to the route /logout
        window.location.href = '/logout';
      }
      function about(){
        // Send a GET request to the route /about
        window.location.href = '/about';
      }      
    </script>       

	</body>
	</html>