<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <header>
      <%- include('./partials/header.ejs'); %>
    </header>

    <div style="display: flex; align-items: center; justify-content: center; height: 100vh;
      background-image: url('https://source.unsplash.com/random/1400x600/?football');"> 
        <h1>Welcome Home <%= user %></h1>
    </div>

	</body>
	</html>